.details-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  
  img {
    width: 20rem;
  }

  .right-side-container {
    flex: 1;
  }

  .left-side-container {
    margin-top: 55px;
  }
}

.icon-star {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.title {
  display: flex;
  align-items: center; 
}

.info-table {
  max-height: unset;
}